<div class="container-fluid">
    <div class="card mb-3">

        <!-- Header  -->
        <div class="card-header">
            <h3><i class="fas fa-user-circle"></i>&nbsp;&nbsp;Personas</h3>
            <button style="float: right;" (click)="openModalPersona()" type="button" class="btn btn-info btn-sm"><i class="fas fa-plus"></i> Nuevo usuario
            </button>
        </div>

        <!-- Body  -->
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead" style="background-color: #000;">
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center">Fecha de Nacimiento</th>
                        <th class="text-center">Domicilio</th>
                        <th class="text-center">RFC</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas">
                        <td class="text-center">{{ persona.nombre }}</td>
                        <td class="text-center">{{ persona.apellidos }}</td>
                        <td class="text-center">{{ persona.fecha_nacimiento }}</td>
                        <td class="text-center">{{ persona.domicilio }}</td>
                        <td class="text-center">{{ persona.rfc }}</td>

                        <td>
                            <div>
                                <!-- (click)="updatePersona(persona)" -->
                                <button (click)="openUpdateModalPersona(persona)" type="button" class="btn btn-link">Editar <i class="fas fa-edit"></i></button>
                                &nbsp;&nbsp;
                                <button (click)="deletePersona(persona.id)" type="button" class="btn btn-link">Eliminar <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                        <!-- UPDATE -->
<div class="modal" id="personaModal">
    <div class="modal-dialog modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    Nuevo usuario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="personaForm" (ngSubmit)="updatePersona(persona)">
                    <div class="form-group">
                        <label for="nombre">Nombre<span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre" class="form-control" [(ngModel)]="persona.nombre" [ngClass]="{ 'is-invalid': updated && f.nombre.errors }">
                        <div *ngIf="submitted&& f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre de la persona es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="apellidos">Apellidos<span class="text-danger">*</span></label>
                        <input type="text" formControlName="apellidos" class="form-control" [(ngModel)]="persona.apellidos"  [ngClass]="{ 'is-invalid': updated && f.apellidos.errors }" />
                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                        <div *ngIf="f.apellidos.errors.required">Los apellidos de la persona son obligatorios</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de nacimiento<span class="text-danger">*</span></label>
                    <input type="date" formControlName="fecha_nacimiento" class="form-control" [(ngModel)]="persona.fecha_nacimiento" [ngClass]="{ 'is-invalid': updated && f.fecha_nacimiento.errors }" />
                    <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
                        <div *ngIf="f.fecha_nacimiento.errors.required">La fecha de nacimiento de la persona es obligatorio</div>
                    </div>
                </div>
            
                    <div class="form-group">
                        <label for="domicilio">Domicilio<span class="text-danger">*</span></label>
                        <textarea rows="3" formControlName="domicilio" class="form-control" [(ngModel)]="persona.domicilio" [ngClass]="{ 'is-invalid': updated && f.domicilio.errors }"></textarea>
                        <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
                        <div *ngIf="f.domicilio.errors.required">El domicilio de la persona es obligatorio</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="rfc">RFC<span class="text-danger">*</span></label>
                        <input type="text" formControlName="rfc" class="form-control" [(ngModel)]="persona.rfc" [ngClass]="{ 'is-invalid': updated && f.rfc.errors }" />
                        <div *ngIf="submitted && f.rfc.errors" class="invalid-feedback">
                        <div *ngIf="f.rfc.errors.required">El RFC de la persona es obligatorio</div>
                        </div>
                    </div>

                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>
                    <div>
                        <button class="btn btn-success btn-sm float-right">Guardar</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br>

<div class="modal" id="personaModal">
    <div class="modal-dialog modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    Nuevo usuario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="personaForm" (ngSubmit)="createPersona()">
                    <div class="form-group">
                        <label for="nombre">Nombre<span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                        <div *ngIf="submitted&& f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre de la persona es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="apellidos">Apellidos<span class="text-danger">*</span></label>
                        <input type="text" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" />
                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                        <div *ngIf="f.apellidos.errors.required">Los apellidos de la persona son obligatorios</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de nacimiento<span class="text-danger">*</span></label>
                    <input type="date" formControlName="fecha_nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_nacimiento.errors }" />
                    <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
                        <div *ngIf="f.fecha_nacimiento.errors.required">La fecha de nacimiento de la persona es obligatorio</div>
                    </div>
                </div>
            
                    <div class="form-group">
                        <label for="domicilio">Domicilio<span class="text-danger">*</span></label>
                        <textarea rows="3" formControlName="domicilio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.domicilio.errors }"></textarea>
                        <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
                        <div *ngIf="f.domicilio.errors.required">El domicilio de la persona es obligatorio</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="rfc">RFC<span class="text-danger">*</span></label>
                        <input type="text" formControlName="rfc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rfc.errors }" />
                        <div *ngIf="submitted && f.rfc.errors" class="invalid-feedback">
                        <div *ngIf="f.rfc.errors.required">El RFC de la persona es obligatorio</div>
                        </div>
                    </div>

                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>
                    <div>
                        <button class="btn btn-success btn-sm float-right">Guardar</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
